{
    "robonet": {
        "port": "/dev/ttyUSB0",
        "baudrate": 38400
    },

    "drive": {
        "wheel_base": 460e-3,
        "left_resolution": 364.8872e-6,
        "right_resolution": 364.8872e-6,
        "left_sigma": 5e-2,
        "right_sigma": 5e-2,
        "PID": {
            "kP": 30,
            "kI": 0.5,
            "kD": 40
        }
    },

    "gui": {
        "joystick_nonlinearity": 0.7,
        "map_zoom": 35
    },

    "limits": {
        "velocity": 0.8,
        "acceleration": 0.3,
        "angular_velocity": 0.8,
        "angular_acceleration": 0.5
    },

    "logging" : {
        "version": 1,
        "formatters": {
            "default": {
                "format": "%(asctime)s %(name)s: %(message)s",
                "datefmt": "%Y-%m-%d %H:%M:%S"
            }
        },
        "handlers": {
            "stderr": {
                "class": "logging.StreamHandler",
                "formatter": "default",
                "level": "DEBUG",
                "stream": "ext://sys.stderr"
            }
        },
        "root": {
            "level": "INFO",
            "handlers": [ "stderr" ]
        },
        "disable_existing_loggers": false
    }
}
