{
    "robonet": {
        "port": "/dev/ttyUSB0",
        "baudrate": 38400
    },

    "drive": {
        "wheel_base": 460e-3,
        "left_resolution": 364.8872e-6,
        "right_resolution": 364.8872e-6,
        //"left_sigma": 5e-2,
        //"right_sigma": 5e-2,
        "PID": {
            "kP": 30,
            "kI": 0.5,
            "kD": 40
        }
    },

    path_following: {
        forward_factor: 1,
        side_factor: 1,
        turn_factor: 1
    },

    "gui": {
        xmlrpc: {
            bind_address: "127.0.0.1",
            port: 29295,
        },
        "joystick_nonlinearity": 0.7,
        "map_zoom": 35
    },

    limits: {
        velocity: 1,
        angular_velocity: 0.8, // ~ 8 seconds per revolution
        acceleration: 0.3,
        jerk: 0.1,
        radial_acceleration: 0.3,

        min_wheel_speed: 300 // minimal recommended wheel speed in ticks/s
    },

    "logging" : {
        "version": 1,
        "formatters": {
            "default": {
                "format": "%(asctime)s %(name)s: %(message)s",
                "datefmt": "%Y-%m-%d %H:%M:%S"
            }
        },
        "handlers": {
            "stderr": {
                "class": "logging.StreamHandler",
                "formatter": "default",
                "level": "DEBUG",
                "stream": "ext://sys.stderr"
            }
        },
        "root": {
            "level": "INFO",
            "handlers": [ "stderr" ]
        },
        "disable_existing_loggers": false
    }
}
