<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/index.html">Index</a></li>
        <li><a href="{{ site.baseurl }}/mechanics.html">Mechanics</a></li>
        <li><a href="{{ site.baseurl }}/electronics.html">Electronics</a></li>
        <li><a href="{{ site.baseurl }}/motor-control.html">Motor Control</a></li>
        <li>Software
            <ul>
                <li><a href="{{ site.baseurl }}/internal-communication.html">Internal Communication</a></li>
                <li><a href="{{ site.baseurl }}/path-planning.html">Path Planning Notes</a></li>
                <li>Localization</li>
                    <ul>
                        <li><a href="{{ site.baseurl }}/movement-model.html">Movement Model & Calibration</a></li>
                    </ul>
                <li>Top Level</li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/todo.html">To Do List</a></li>
    </ul>
</nav>
