<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="blue dot cube at seznam dot cz" />
    <title>{{ page.title | strip_html }}</title>
</head>
<body>

<h1>{{ page.title }}</h1>

<header>
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}index.html">Index</a></li>
            <li>Mechanical Design</li>
            <li>Motor Control</li>
            <li>Software
                <ul>
                    <li>Internal Communication</li>
                    <li>Localization</li>
                    <li>Top Level</li>
                </ul>
            </li>
    </nav>
</header>

{{ content }}

</body>
</html>
